section {
    margin: 2rem 0;
    padding: 2rem;
}

article {
    margin: 5%;
}


@media (min-width: 850px) {
    section {
        flex-direction: row;
    }
    article {
        font-size: 1.1rem;
    }
    section:nth-of-type(even) {
        flex-direction: row-reverse;
    }
}

@media (min-width: 950px) {
    article {
        font-size: 1.3rem;
    }
}

article p {
    margin: 1rem;
}

.tours-img {
    border-radius: 0.5rem;
    height: 650px;
    width: 434px;
    max-width: 515px;
    flex-basis: 40%;
}

hr {
    margin: 0 auto;
    width: 30%;
}